name: concurrency control tutorial

on:
    workflow_dispatch:

concurrency:
    cancel-in-progress: true

jobs:
    build:
        name: Build-Job
        runs-on: ubuntu-latest
        steps:
            - name: run simple commands
              run: |
              sleep 300 
              ls -lrth

              