name: concurrency control tutorial

on:
    workflow_dispatch:


jobs:
    build:
        name: Build-Job
        runs-on: ubuntu-latest
        steps:
            - name: run simple commands
              run: |
                sleep 300 
                ls -lrth

              