name: build and deploy example

on:
  push:

jobs:
  build:
    name: Build Job
    runs-on: ubuntu-latest
    steps:
      - name: build step
        run: echo "building application"

  deploy:
    name: Deploy Job
    runs-on: ubuntu-latest
    needs: build
    if: ${{ github.ref == 'refs/heads/main' }}
    steps:
      - name: deploy step
        run: echo "deploying to production"
