name: OIDC Tutorial

on:
    workflow_dispatch:

permissions:
    id-token: write
    contents: write


jobs:
    OIDC:
        name: OIDC-JOB
        runs-on: ubuntu-latest
        steps:
            - name: code checkout
              uses: actions/checkout@v4
            - name: configure aws credentials
              uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502
              with:
               role-to-assume: ${{ secrets.AWS_ROLE }}
               aws-region: ${{ vars.AWS_REGION }}
            - name: Test AWS Credentials
              run: aws sts get-caller-identity