name: github actions permissions tutorial

on:
    workflow_dispatch:

permissions:
    contents: none

jobs:
    Build:
        name: Build-Job
        runs-on: ubuntu-latest
        steps:
            - name: code checkout
              uses: actions/checkout@v4
            - name: run df command
              run: df -h