name: we will run only if push happens to README.MD

on:
  push:
    paths:
      - README.md
    branches: [main]

jobs:
  Build:
    name: Build-Job
    runs-on: ubuntu-latest
    steps:
      - name: run a simple command
        run: df -h


        